(
A,
Aacute,
Abreve,
Abreveacute,
Acaron,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Imacron,
Iogonek,
Istroke,
Itilde,
J,
Jacute,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
Macute,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ngrave,
Ntilde,
Eng,
O,
Oacute,
Ocircumflex,
Odieresis,
Odotbelow,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tcaron,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Z,
Zacute,
Zcaron,
Zdotaccent,
Hbar.ss01,
L.ss01,
M.ss01,
Q.ss01,
R.ss01,
S.ss01,
Germandbls.ss01,
Z.ss01,
Q.ss02,
Germandbls.ss02,
a,
aacute,
abreve,
abreveacute,
acaron,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
edotbelow,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
gcommaaccent,
gdotaccent,
h,
hbar,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
imacron,
iogonek,
istroke,
itilde,
ij,
j,
jdotless,
jacute,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
macute,
n,
nacute,
ncaron,
ncommaaccent,
ndotaccent,
ngrave,
ntilde,
eng,
o,
oacute,
ocircumflex,
odieresis,
odotbelow,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
t,
tcaron,
tcommaaccent,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
udotbelow,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
z,
zacute,
zcaron,
zdotaccent,
a.ss01,
f.ss01,
g.ss01,
l.ss01,
m.ss01,
n.ss01,
o.ss01,
p.ss01,
q.ss01,
r.ss01,
s.ss01,
scedilla.ss01,
t.ss01,
u.ss01,
y.ss01,
f.ss02,
g.ss02,
s.ss02,
t.ss02,
y.ss02,
t.ss03,
ordfeminine,
ordmasculine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
three.ss01,
five.ss01,
seven.ss01,
space,
nbspace,
.notdef,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
questiondown.ss01,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
cent,
dollar,
euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
asciitilde,
asciicircum,
percent,
dottedCircle,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
dotbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
tildecomb.capitals,
macroncomb.capitals,
caroncomb.narrow,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek
)